/* Format body and containers */
html, body {
    height: 100%;
    width:100%;
    margin: 0;
}

.container-fluid, .container {
    padding-left: 0px;
    padding-right: 0px;
    border-radius:0px;
}

/* Place video in background */
.video-holder {
    height:100vh;
    width:100%;
    z-index: -100;
    overflow:hidden;
}
#video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity:.5;
}

video::-webkit-media-controls {
    display:none !important;
}


/* Style for Logo, title and Tagline on main landing page */
.main-page {
    position:absolute;
    width:100%;
    z-index:100;
    margin: 0 auto;
}

.center-block {
    margin-top:20vh;
}

.icon {
    height: 150px;
    width: auto;
    margin:0 auto;
    z-index: 1;
    display:block;
}

.title, .navbar-brand {
    font-size: 60px;
    font-family: Fjalla One;
    color: white;
}

.title {
    display:block;
    color:white;
    margin-top: 70px;
    z-index: 2;
    top:50%;
    left:45%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
}

.tagline {
    font-family: Cantarell;
    color: white;
    font-size: 1.2em;
    margin-top:0px
}


/* Format the input form */
#main-search {
    width: 450px;
    margin: 0 auto;
}

#budget, #date {
    width: 160px;
    height: 40px;
    float: left;
    margin: 5px;
    border-radius: 0;
}


/* Format the search buttom */
.btn-primary, .btn-results {
    width: 100px;
    height: 40px;
    margin: 5px;
    background: linear-gradient(to right, rgb(58, 185, 153) , rgb(110, 202, 96));
    border: 0px solid transparent;
    font-family: Lato;
    border-radius: 0;
    color: white;
}

/* Center the input form and search button on the main landing page */
.form-group {
    margin: 0 auto;
}

/* Format the navigation bar on the secondary page */
.navbar-default {
    height: 80px;
    width: auto;
    min-width: 100%;
}

.navbar {
    z-index:100;
    border-radius: 0;
}

.navbar-right {
   margin-right: 0px;
   margin-top:15px;
}

.navbar-brand {
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 15px;
}

/* Add logo and title on the navigation bar on the secondary page */
.icon2 {
    height:50px !important;
    width: auto !important;
    display:inline-block !important;
    margin-left: 47px;
    margin-top:0px;
    margin-right: 10px;
}

span {
    color: rgb(51, 49, 49);
    font-size: 35px;
}

/* Format the input form on the secondary page */
#budget-nav, #date-nav, #btn-nav {
    width: 160px;
    height: 40px;
    float: left;
    margin: 5px;
    border-radius: 0;
}

.form-control {
    width: 160px;
    height: 40px;
    float: left;
    margin: 5px;
    border-radius: 0;
}

/* Change secondary page background to grey */
#page-results {
    width: 100%;
    height: 100vh;
    /* margin-top: 45px; */
    z-index:100;
}

/* Format the results div */
.results-div {
    margin: 10px 20px;
}
 
#accordion {
    border-radius:6px;
    margin-top: 10px;
}

.result-item {
    background-color: #f8f8f8;
    margin: 0 auto;
    overflow:hidden;
 }

h1 {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    font-family: Fjalla One;
    color: white;
 }


 /* Format the Event Image and Event Image area */
.img-div {
    padding:0px;
    height:100%;
    overflow:hidden;
}

.event-image {
    width:100%;
    height:100%;
}

 /* Format the Event Title, Date and Time area */
.details-div {
    background-color:#f8f8f8;
    height: 100%;
}

.details-div h1 {
    color:black;
    margin: 0;
}

.event-date {
    color:grey;
    font-size:.9em;
    margin-top:5px;
    font-family:Lato;
}

.event-name {
    margin: 0;
    width:100%;
    font-size:1.3em;
}

.event-time {
    font-size: .9em;
    color: grey;
    font-family: Lato;
    margin-top:10px;
 }


 /* Format the Event Pricing and Event Location area */
.pricing-div {
    height:100%;
    text-align:right;
    background-color: #f8f8f8;
}

.dollar, .event-price {
    display: inline;
    color:rgb(58, 185, 153);
    font-size: 2em;
}

.start-as {
    font-size:1em;
    margin-top:5px;
    color:grey;
    font-family: Fjalla One;
}

.event-location {
    font-size: .9em;
    color: #EC644B;
    font-family: Fjalla One;
    padding-top: 10px;
    margin: 0px;
}

.event-distance {
    font-size: .9em;
    color: grey;
    font-family: Lato;
    margin-top:3px;
    margin-bottom:0px;
}


/* Format the Click Here for Map Details area */
.event-click {
    font-size: .8em;
    color: grey;
    font-family: Lato;
    padding-top: 0px;
    margin: 0px;
    margin-top:3px;
}

.map-button {
    cursor:pointer;
    transition: all 0.7s;
    -webkit-transition: all 0.7s; 
}


/* Format the Google Map once the Accordion Expands */
.map {
    height: 350px;
    width:100%;
}

.gmap {
    position: relative;
    /* overflow: hidden; */
    height: 320px;
    width: 100%;
    z-index: 500;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
}

.collapse {
    height: 350px;
    width:100%;
}



/* Add the below style if we get to adding City and State options */

/* select {
    width: 100px;
    height: 40px;
    border-radius: 0px;
    background-color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding-left:13px;
    padding-bottom:2px;
    color:grey;
    border: 1px solid #ccc;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
} */

/* .state-main {
    margin:5px;
} */

/* The below CSS formats the loading image after you press search */
body{
	background:#333;
	background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
	background:-moz-radial-gradient(circle, #33495E, #2E2329);

}
.loader{
	margin:200px auto;
}
.loading-text{
	font-family: 'Actor', sans-serif;
	color:#FFF;
	font-size:16px;
	letter-spacing:1px;
	font-weight:200;
	text-align:center;
}
.loader span{
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	-webkit-animation:3s infinite linear;
	-moz-animation:3s infinite linear;
	-o-animation:3s infinite linear;
	
}

.loader span:nth-child(2){
	background:#E84C3D;
	-webkit-animation:kiri 1.2s infinite linear;
	-moz-animation:kiri 1.2s infinite linear;
	-o-animation:kiri 1.2s infinite linear;
	
}
.loader span:nth-child(3){
	background:#F1C40F;
	z-index:100;
}
.loader span:nth-child(4){
	background:#2FCC71;
	-webkit-animation:kanan 1.2s infinite linear;
	-moz-animation:kanan 1.2s infinite linear;
	-o-animation:kanan 1.2s infinite linear;
}


@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(20px);
    }
   
	50%{-moz-transform:translateX(-20px);
	}
	
	100%{-moz-transform:translateX(20px);
	z-index:200;
	}
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(20px);
    }
   
	50%{-o-transform:translateX(-20px);
	}
	
	100%{-o-transform:translateX(20px);
	z-index:200;
	}
}

@-webkit-keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

@-moz-keyframes kiri {
     0% {-moz-transform:translateX(-20px);
	z-index:200;
    }
	50%{-moz-transform:translateX(20px);
	}
	100%{-moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
     0% {-o-transform:translateX(-20px);
	z-index:200;
    }
	50%{-o-transform:translateX(20px);
	}
	100%{-o-transform:translateX(-20px);
	}
}
